@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
div.jumbotron.carousel-hero {
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
  }
  
  div.jumbotron.hero-nature {
    height: 100vh;
    background: url("../pages/images/Ambulance.jpg") center / cover no-repeat;
  }
  
  div.jumbotron.hero-photography {
    height: 100vh;
    background: url("../pages/images/Doctor.jpg") right / cover no-repeat;
  }
  
  div.jumbotron.hero-technology {
    height: 100vh;
    background: url("../pages/images/Medicine.jpg") center / cover no-repeat;
  }
  
  h1.hero-title, h2.hero-title, h3.hero-title {
    text-shadow: 0 3px 3px rgba(0,0,0,0.4);
    color: #fff;
  }
  
  p.hero-subtitle {
    max-width: 600px;
    margin: 25px auto;
    padding: 10px 10px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;

  }
  
  .plat {
    border-radius: 0px;
  }
  
  .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0 #048f83!important;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #016090;
    border-color: #016090;
  }
  
  .btn.btn-primary {
    background-color: #048f83!important;
    border-color: #048f83!important;
  }
  
  .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
  }
  
  * {
    /*box-sizing: inherit;*/
  }
  
  *:before, *:after {
    /*box-sizing: inherit;*/
  }
  
  span {
    font-style: inherit;
    font-weight: inherit;
  }
  
  .carousel-inner, .carousel-item, .carousel-item.active {
    height: 90vh;
  }
  
  .hero-title {
    margin-top: 16rem;
  }
  
  .hero-corona.carousel-hero.jumbotron {
    background: url("../pages/images/Corona.jpg") center / cover no-repeat;
    height: 100vh;
  }
  
  